{% extends "base.html" %}


{% block content %}
<div class="container mt-5 mb-5">
    <h3 class="mb-3">AIME VOYAGE VOUS RESERVE UN VOYAGE DIGNE!!!!!!!!</h3>
    <div class="row">
        <div class="col-lg-4 md-4">
            <div class="card" styl="width: 18rem;">
                <img src="https://img.freepik.com/photos-gratuite/groupe-bus-circulant-long-route-au-coucher-du-soleil_157027-4307.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">BUS VIP 1</h5>
                  <p class="card-text">Aime voyage est une agence base  dans la region du centre et faissant la ligne Yaoude-Ayos </p>
                  <a href="#" class="btn btn-warning">Visitez</a>
                  <a href="#" class="btn btn-success">Reservez</a>
                </div>
              </div>
              
        </div>
        <div class="col-lg-4 md-4">
            <div class="card" styl="width: 18rem;">
                <img src="https://img.freepik.com/photos-gratuite/groupe-bus-circulant-long-route-au-coucher-du-soleil_157027-4307.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">BUS VIP 2</h5>
                  <p class="card-text">Aime voyage est une agence base  dans la region du centre et faissant la ligne Yaoude-Ayos.</p>
                  <a href="#" class="btn btn-warning">Visitez</a>
                  <a href="#" class="btn btn-success">Reservez</a>
                </div>
              </div>
    </div>
    <div class="col-lg-4 md-4">
        <div class="card" styl="width: 18rem;">
            <img src="https://img.freepik.com/photos-gratuite/groupe-bus-circulant-long-route-au-coucher-du-soleil_157027-4307.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">BUS VIP 3</h5>
              <p class="card-text">Aime voyage est une agence base  dans la region du centre et faissant la ligne Yaoude-Ayos.</p>
              <a href="#" class="btn btn-warning">Visitez</a>
              <a href="#" class="btn btn-success">Reservez</a>
            </div>
          </div>
    </div>
</div>


{% endblock %}